h4{
    text-decoration: underline;
}
#result{
    position: absolute;
    padding: 0;
}
.itemResult{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: .25rem .5rem;
}
#friendsList, #friendsRequest{
    margin-top: 3rem;
}
@media (max-width: 991px) {
    .friend{
        margin:0;
        padding: 0;
    }
}